<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= instrumentation_header %>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta http-equiv="imagetoolbar" content="no">

  <%= tag :meta, name: "referrer", content: "never" %>

  <title><%= @title || "My Test Site" %></title>

  <%= stylesheet_link_tag MyNamespace::MY_CONSTANT, integrity: true, crossorigin: "anonymous" %>
  <%= javascript_include_tag "jquery", integrity: true, crossorigin: "anonymous" %>

  <%= csrf_meta_tag %>

  <%= yield :header %>
</head>
<%# here's the body %>
<body>
  <ul>
  <% @things.each do |thing| %>
    <li><%= thing %></Li>
  <% end %>
  </ul>

  <div id="body">

    <%= yield :body %>
  </div>
</body>
</html>
